<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/orderp" method="post" th:object="${detail}" style="padding: 30px">
    <table th:object="${product}">
        <tr>
            <td><input class="form-control" type="text" th:field="*{productId}" hidden></td>
        </tr>
        <tr>
            <td>Tên sản phẩm</td>
            <td><input class="form-control" type="text" th:text="*{productName}"></td>
        </tr>
        <tr>
            <td>Gía sản phẩm</td>
            <td><input class="form-control" type="text" th:field="*{productPrice}" ></td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td><input class="form-control" type="text" th:field="*{quantity}" ></td>
        </tr>
<!--        <tr>-->
<!--            <td>số lượng</td>-->
<!--            <td><input class="form-control" type="text" th:field="*{quantity}" ></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Note</td>-->
<!--            <td><input class="form-control" type="text" th:field="*{note}" ></td>-->
<!--        </tr>-->
    </table>
    <button class="btn btn-success" type="submit">Update</button>
    <button class="btn btn-primary"><a th:href="@{/admin/list}" style="text-decoration: none;color: #f2f2f2">Quay lại trang list</a></button>
</form>
</body>
</html>