<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <style>
        span{
            color: #ff0000;
        }

        .bd{
            background-color: #CCFFCC;
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap-5.0.2-dist/css/bootstrap.css">
    <script src="bootstrap/bootstrap-5.0.2-dist/js/bootstrap.js"></script>

</head>
<body class="bd">
<form action="/admin/create" method="post" th:object="${product}" style="margin-left: 24%; margin-right: 24%;padding: 3%;background-color: #FFCCCC;border-radius: 3% ;margin-top: 2%">
    <div class="mb-3" style="width: 100%"v>
        <label  class="form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" th:field="*{productName}">
<!--        <span th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>-->
    </div>
    <div class="mb-3" style="width: 100%"v>
        <label  class="form-label">Gía sản phẩm</label>
        <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" th:field="*{productPrice}">
        <!--        <span th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>-->
    </div>
    <div class="mb-3" style="width: 100%"v>
        <label class="form-label">Mô tả sản phẩm</label>
        <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" th:field="*{productDescription}">
        <!--        <span th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>-->
    </div>
    <div class="mb-3" style="width: 100%"v>
        <label class="form-label">Link ảnh sản phẩm</label>
        <input class="form-control" type="file" id="formFile" th:field="*{image}">
<!--        <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" th:field="*{image}">-->
        <!--        <span th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span>-->
    </div>
    <div>
        <td>Loại sản phẩm</td>
        <td>
            <select class="form-select form-select-lg mb-3" th:field="*{typeProduct}">
                <option th:each="typeProduct :${typeProduct}" th:value="${typeProduct.typeProductId}" th:text="${typeProduct.typeProductName}"></option>
            </select>
        </td>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
    <button class="btn btn-primary">
        <a th:href="@{/admin/list}" style="text-decoration: none;color: #f2f2f2">Quay lại trang List</a>
    </button>
</form>


</form>

</body>
</html>