<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<footer>
		<div class="footer-item">
			<h2 class="title">Giới thiệu</h2>
			<span>Trời sinh hoa trái không kết thúc đối với
				những con chim trời sinh hoa trái này qua nhiều ngày xuất hiện những
				mùa leo buồn bã mang theo nó những dấu hiệu bay mang theo phước lành
				cho người sau.</span>
		</div>

		<div class="footer-item">
			<h2 class="title">Liên hệ</h2>
			<span>Địa chỉ: Tòa nhà Complex, Ngũ Hành Sơn, Đà Nẵng</span>
			<span>Điện thoại : 0125635458</span> <span>Email :
				banana@gmail.com</span>
		</div>

		<div class="footer-item">
			<h2 class="title">Bản tin</h2>
			<span>Trời sinh quả không hơn kém ngày tháng. Xuất hiện biển leo</span>
			<form class="form" action="" method="post">
				<input type="text" name="email">
				<button>Submit</button>
			</form>
		</div>
	</footer>
</body>
</html>
