<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
  <div th:fragment="header">
  	<header>
      <div class="container">
        <div class="header">
          <div class="logo">Banana</div>
          <nav class="navbar">
            <ul>
              <li><a href="/">Trang chủ</a></li>
              <li><a href="">Giới thiệu</a></li>
              <li><a href="">Thực đơn</a></li>
              <li><a href="">Phản hồi</a></li>
              <li><a href="">Liên hệ</a></li>
            </ul>
          </nav>
          <div class="btn-book-table">Đặt bàn</div>
        </div>
      </div>
    </header>
  </div>
  </body>
</html>
